@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
    @font-face {
        font-family: 'Cinzel';
        src: url('/fonts/Cinzel-VariableFont_wght.ttf');
    }

    @font-face {
        font-family: 'exo';
        src: url('/fonts/Exo-VariableFont_wght.ttf');
    }

    @font-face {
        font-family: 'creepster';
        src: url('/fonts/Creepster-Regular.ttf');
    }

    @font-face {
        font-family: 'elite';
        src: url('/fonts/SpecialElite-Regular.ttf');
    }

    @font-face {
        font-family: 'fairDisplay';
        src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf');
    }

    @font-face {
        font-family: 'courier';
        src: url('/fonts/CourierPrime-Regular.ttf');
    }

    @font-face {
        font-family: 'Chewy';
        src: url('/fonts/Chewy-Regular.ttf');
    }

}